{% unless template == 'index' or template == 'cart' or template == 'list-collections' %}
<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  <a href="{{ routes.root_url }}" title="Home">Home</a>

  {% if template contains 'page' %}
  <span aria-hidden="true">
    <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.85197 5.54088L0.605975 0.813759C0.571017 0.775665 0.54338 0.730437 0.524663 0.680695C0.505946 0.630953 0.49652 0.577683 0.496932 0.523969C0.497344 0.470254 0.507585 0.417162 0.527062 0.367763C0.54654 0.318365 0.574867 0.273642 0.610404 0.236181C0.645941 0.198721 0.687984 0.169268 0.734097 0.149526C0.780211 0.129784 0.829483 0.120145 0.879058 0.121167C0.928633 0.12219 0.977529 0.133853 1.02292 0.155483C1.0683 0.177112 1.10928 0.208277 1.14347 0.247176L5.64347 5.25759C5.71159 5.33343 5.74969 5.43507 5.74969 5.54088C5.74969 5.6467 5.71159 5.74833 5.64347 5.82418L1.14347 10.8346C1.10928 10.8735 1.0683 10.9047 1.02292 10.9263C0.977529 10.9479 0.928633 10.9596 0.879058 10.9606C0.829483 10.9616 0.780211 10.952 0.734097 10.9322C0.687984 10.9125 0.645941 10.883 0.610404 10.8456C0.574867 10.8081 0.54654 10.7634 0.527062 10.714C0.507585 10.6646 0.497344 10.6115 0.496932 10.5578C0.49652 10.5041 0.505946 10.4508 0.524663 10.4011C0.54338 10.3513 0.571017 10.3061 0.605975 10.268L4.85197 5.54088Z" fill="black"/>
    </svg>
  </span>

  <span>{{ page.title }}</span>

  {% elsif template contains 'product' %}
{% if collection.url %}
  <span aria-hidden="true">
  <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M4.85197 5.54088L0.605975 0.813759C0.571017 0.775665 0.54338 0.730437 0.524663 0.680695C0.505946 0.630953 0.49652 0.577683 0.496932 0.523969C0.497344 0.470254 0.507585 0.417162 0.527062 0.367763C0.54654 0.318365 0.574867 0.273642 0.610404 0.236181C0.645941 0.198721 0.687984 0.169268 0.734097 0.149526C0.780211 0.129784 0.829483 0.120145 0.879058 0.121167C0.928633 0.12219 0.977529 0.133853 1.02292 0.155483C1.0683 0.177112 1.10928 0.208277 1.14347 0.247176L5.64347 5.25759C5.71159 5.33343 5.74969 5.43507 5.74969 5.54088C5.74969 5.6467 5.71159 5.74833 5.64347 5.82418L1.14347 10.8346C1.10928 10.8735 1.0683 10.9047 1.02292 10.9263C0.977529 10.9479 0.928633 10.9596 0.879058 10.9606C0.829483 10.9616 0.780211 10.952 0.734097 10.9322C0.687984 10.9125 0.645941 10.883 0.610404 10.8456C0.574867 10.8081 0.54654 10.7634 0.527062 10.714C0.507585 10.6646 0.497344 10.6115 0.496932 10.5578C0.49652 10.5041 0.505946 10.4508 0.524663 10.4011C0.54338 10.3513 0.571017 10.3061 0.605975 10.268L4.85197 5.54088Z" fill="black"/>
  </svg>
  </span>

  {{ collection.title | link_to: collection.url }}
  {% endif %}
  <span aria-hidden="true">
    <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.85197 5.54088L0.605975 0.813759C0.571017 0.775665 0.54338 0.730437 0.524663 0.680695C0.505946 0.630953 0.49652 0.577683 0.496932 0.523969C0.497344 0.470254 0.507585 0.417162 0.527062 0.367763C0.54654 0.318365 0.574867 0.273642 0.610404 0.236181C0.645941 0.198721 0.687984 0.169268 0.734097 0.149526C0.780211 0.129784 0.829483 0.120145 0.879058 0.121167C0.928633 0.12219 0.977529 0.133853 1.02292 0.155483C1.0683 0.177112 1.10928 0.208277 1.14347 0.247176L5.64347 5.25759C5.71159 5.33343 5.74969 5.43507 5.74969 5.54088C5.74969 5.6467 5.71159 5.74833 5.64347 5.82418L1.14347 10.8346C1.10928 10.8735 1.0683 10.9047 1.02292 10.9263C0.977529 10.9479 0.928633 10.9596 0.879058 10.9606C0.829483 10.9616 0.780211 10.952 0.734097 10.9322C0.687984 10.9125 0.645941 10.883 0.610404 10.8456C0.574867 10.8081 0.54654 10.7634 0.527062 10.714C0.507585 10.6646 0.497344 10.6115 0.496932 10.5578C0.49652 10.5041 0.505946 10.4508 0.524663 10.4011C0.54338 10.3513 0.571017 10.3061 0.605975 10.268L4.85197 5.54088Z" fill="black"/>
    </svg>
  </span>
  <span> Shop</span>
  <span aria-hidden="true">
    <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.85197 5.54088L0.605975 0.813759C0.571017 0.775665 0.54338 0.730437 0.524663 0.680695C0.505946 0.630953 0.49652 0.577683 0.496932 0.523969C0.497344 0.470254 0.507585 0.417162 0.527062 0.367763C0.54654 0.318365 0.574867 0.273642 0.610404 0.236181C0.645941 0.198721 0.687984 0.169268 0.734097 0.149526C0.780211 0.129784 0.829483 0.120145 0.879058 0.121167C0.928633 0.12219 0.977529 0.133853 1.02292 0.155483C1.0683 0.177112 1.10928 0.208277 1.14347 0.247176L5.64347 5.25759C5.71159 5.33343 5.74969 5.43507 5.74969 5.54088C5.74969 5.6467 5.71159 5.74833 5.64347 5.82418L1.14347 10.8346C1.10928 10.8735 1.0683 10.9047 1.02292 10.9263C0.977529 10.9479 0.928633 10.9596 0.879058 10.9606C0.829483 10.9616 0.780211 10.952 0.734097 10.9322C0.687984 10.9125 0.645941 10.883 0.610404 10.8456C0.574867 10.8081 0.54654 10.7634 0.527062 10.714C0.507585 10.6646 0.497344 10.6115 0.496932 10.5578C0.49652 10.5041 0.505946 10.4508 0.524663 10.4011C0.54338 10.3513 0.571017 10.3061 0.605975 10.268L4.85197 5.54088Z" fill="black"/>
    </svg>
  </span>

  <span>{{ product.title }}</span>
  {% elsif template contains 'collection' and collection.handle %}
  <span aria-hidden="true">
    <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.85197 5.54088L0.605975 0.813759C0.571017 0.775665 0.54338 0.730437 0.524663 0.680695C0.505946 0.630953 0.49652 0.577683 0.496932 0.523969C0.497344 0.470254 0.507585 0.417162 0.527062 0.367763C0.54654 0.318365 0.574867 0.273642 0.610404 0.236181C0.645941 0.198721 0.687984 0.169268 0.734097 0.149526C0.780211 0.129784 0.829483 0.120145 0.879058 0.121167C0.928633 0.12219 0.977529 0.133853 1.02292 0.155483C1.0683 0.177112 1.10928 0.208277 1.14347 0.247176L5.64347 5.25759C5.71159 5.33343 5.74969 5.43507 5.74969 5.54088C5.74969 5.6467 5.71159 5.74833 5.64347 5.82418L1.14347 10.8346C1.10928 10.8735 1.0683 10.9047 1.02292 10.9263C0.977529 10.9479 0.928633 10.9596 0.879058 10.9606C0.829483 10.9616 0.780211 10.952 0.734097 10.9322C0.687984 10.9125 0.645941 10.883 0.610404 10.8456C0.574867 10.8081 0.54654 10.7634 0.527062 10.714C0.507585 10.6646 0.497344 10.6115 0.496932 10.5578C0.49652 10.5041 0.505946 10.4508 0.524663 10.4011C0.54338 10.3513 0.571017 10.3061 0.605975 10.268L4.85197 5.54088Z" fill="black"/>
    </svg>
  </span>

  {% if current_tags %}
    {% capture url %}/collections/{{ collection.handle }}{% endcapture %}

    {{ collection.title | link_to: url }}

    <span aria-hidden="true">
    <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.85197 5.54088L0.605975 0.813759C0.571017 0.775665 0.54338 0.730437 0.524663 0.680695C0.505946 0.630953 0.49652 0.577683 0.496932 0.523969C0.497344 0.470254 0.507585 0.417162 0.527062 0.367763C0.54654 0.318365 0.574867 0.273642 0.610404 0.236181C0.645941 0.198721 0.687984 0.169268 0.734097 0.149526C0.780211 0.129784 0.829483 0.120145 0.879058 0.121167C0.928633 0.12219 0.977529 0.133853 1.02292 0.155483C1.0683 0.177112 1.10928 0.208277 1.14347 0.247176L5.64347 5.25759C5.71159 5.33343 5.74969 5.43507 5.74969 5.54088C5.74969 5.6467 5.71159 5.74833 5.64347 5.82418L1.14347 10.8346C1.10928 10.8735 1.0683 10.9047 1.02292 10.9263C0.977529 10.9479 0.928633 10.9596 0.879058 10.9606C0.829483 10.9616 0.780211 10.952 0.734097 10.9322C0.687984 10.9125 0.645941 10.883 0.610404 10.8456C0.574867 10.8081 0.54654 10.7634 0.527062 10.714C0.507585 10.6646 0.497344 10.6115 0.496932 10.5578C0.49652 10.5041 0.505946 10.4508 0.524663 10.4011C0.54338 10.3513 0.571017 10.3061 0.605975 10.268L4.85197 5.54088Z" fill="black"/>
    </svg>
    </span>

    <span>{{ current_tags | join: ' + ' }}</span>

    {% else %}
    <span>{{ collection.title }}</span>
    {% endif %}

  {% elsif template == 'blog' %}
  <span aria-hidden="true">
    <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.85197 5.54088L0.605975 0.813759C0.571017 0.775665 0.54338 0.730437 0.524663 0.680695C0.505946 0.630953 0.49652 0.577683 0.496932 0.523969C0.497344 0.470254 0.507585 0.417162 0.527062 0.367763C0.54654 0.318365 0.574867 0.273642 0.610404 0.236181C0.645941 0.198721 0.687984 0.169268 0.734097 0.149526C0.780211 0.129784 0.829483 0.120145 0.879058 0.121167C0.928633 0.12219 0.977529 0.133853 1.02292 0.155483C1.0683 0.177112 1.10928 0.208277 1.14347 0.247176L5.64347 5.25759C5.71159 5.33343 5.74969 5.43507 5.74969 5.54088C5.74969 5.6467 5.71159 5.74833 5.64347 5.82418L1.14347 10.8346C1.10928 10.8735 1.0683 10.9047 1.02292 10.9263C0.977529 10.9479 0.928633 10.9596 0.879058 10.9606C0.829483 10.9616 0.780211 10.952 0.734097 10.9322C0.687984 10.9125 0.645941 10.883 0.610404 10.8456C0.574867 10.8081 0.54654 10.7634 0.527062 10.714C0.507585 10.6646 0.497344 10.6115 0.496932 10.5578C0.49652 10.5041 0.505946 10.4508 0.524663 10.4011C0.54338 10.3513 0.571017 10.3061 0.605975 10.268L4.85197 5.54088Z" fill="black"/>
    </svg>
  </span>

  {% if current_tags %}
    {{ blog.title | link_to: blog.url }}

    <span aria-hidden="true">
    <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.85197 5.54088L0.605975 0.813759C0.571017 0.775665 0.54338 0.730437 0.524663 0.680695C0.505946 0.630953 0.49652 0.577683 0.496932 0.523969C0.497344 0.470254 0.507585 0.417162 0.527062 0.367763C0.54654 0.318365 0.574867 0.273642 0.610404 0.236181C0.645941 0.198721 0.687984 0.169268 0.734097 0.149526C0.780211 0.129784 0.829483 0.120145 0.879058 0.121167C0.928633 0.12219 0.977529 0.133853 1.02292 0.155483C1.0683 0.177112 1.10928 0.208277 1.14347 0.247176L5.64347 5.25759C5.71159 5.33343 5.74969 5.43507 5.74969 5.54088C5.74969 5.6467 5.71159 5.74833 5.64347 5.82418L1.14347 10.8346C1.10928 10.8735 1.0683 10.9047 1.02292 10.9263C0.977529 10.9479 0.928633 10.9596 0.879058 10.9606C0.829483 10.9616 0.780211 10.952 0.734097 10.9322C0.687984 10.9125 0.645941 10.883 0.610404 10.8456C0.574867 10.8081 0.54654 10.7634 0.527062 10.714C0.507585 10.6646 0.497344 10.6115 0.496932 10.5578C0.49652 10.5041 0.505946 10.4508 0.524663 10.4011C0.54338 10.3513 0.571017 10.3061 0.605975 10.268L4.85197 5.54088Z" fill="black"/>
    </svg>
    </span>

    <span>{{ current_tags | join: ' + ' }}</span>

  {% else %}
  <span>{{ blog.title }}</span>
  {% endif %}

  {% elsif template == 'article' %}
  <span aria-hidden="true">
    <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.85197 5.54088L0.605975 0.813759C0.571017 0.775665 0.54338 0.730437 0.524663 0.680695C0.505946 0.630953 0.49652 0.577683 0.496932 0.523969C0.497344 0.470254 0.507585 0.417162 0.527062 0.367763C0.54654 0.318365 0.574867 0.273642 0.610404 0.236181C0.645941 0.198721 0.687984 0.169268 0.734097 0.149526C0.780211 0.129784 0.829483 0.120145 0.879058 0.121167C0.928633 0.12219 0.977529 0.133853 1.02292 0.155483C1.0683 0.177112 1.10928 0.208277 1.14347 0.247176L5.64347 5.25759C5.71159 5.33343 5.74969 5.43507 5.74969 5.54088C5.74969 5.6467 5.71159 5.74833 5.64347 5.82418L1.14347 10.8346C1.10928 10.8735 1.0683 10.9047 1.02292 10.9263C0.977529 10.9479 0.928633 10.9596 0.879058 10.9606C0.829483 10.9616 0.780211 10.952 0.734097 10.9322C0.687984 10.9125 0.645941 10.883 0.610404 10.8456C0.574867 10.8081 0.54654 10.7634 0.527062 10.714C0.507585 10.6646 0.497344 10.6115 0.496932 10.5578C0.49652 10.5041 0.505946 10.4508 0.524663 10.4011C0.54338 10.3513 0.571017 10.3061 0.605975 10.268L4.85197 5.54088Z" fill="black"/>
    </svg>
  </span>

  {{ blog.title | link_to: blog.url }}

  <span aria-hidden="true">
    <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.85197 5.54088L0.605975 0.813759C0.571017 0.775665 0.54338 0.730437 0.524663 0.680695C0.505946 0.630953 0.49652 0.577683 0.496932 0.523969C0.497344 0.470254 0.507585 0.417162 0.527062 0.367763C0.54654 0.318365 0.574867 0.273642 0.610404 0.236181C0.645941 0.198721 0.687984 0.169268 0.734097 0.149526C0.780211 0.129784 0.829483 0.120145 0.879058 0.121167C0.928633 0.12219 0.977529 0.133853 1.02292 0.155483C1.0683 0.177112 1.10928 0.208277 1.14347 0.247176L5.64347 5.25759C5.71159 5.33343 5.74969 5.43507 5.74969 5.54088C5.74969 5.6467 5.71159 5.74833 5.64347 5.82418L1.14347 10.8346C1.10928 10.8735 1.0683 10.9047 1.02292 10.9263C0.977529 10.9479 0.928633 10.9596 0.879058 10.9606C0.829483 10.9616 0.780211 10.952 0.734097 10.9322C0.687984 10.9125 0.645941 10.883 0.610404 10.8456C0.574867 10.8081 0.54654 10.7634 0.527062 10.714C0.507585 10.6646 0.497344 10.6115 0.496932 10.5578C0.49652 10.5041 0.505946 10.4508 0.524663 10.4011C0.54338 10.3513 0.571017 10.3061 0.605975 10.268L4.85197 5.54088Z" fill="black"/>
    </svg>
  </span>

  <span>{{ article.title }}</span>

  {% else %}
  <span aria-hidden="true">
    <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.85197 5.54088L0.605975 0.813759C0.571017 0.775665 0.54338 0.730437 0.524663 0.680695C0.505946 0.630953 0.49652 0.577683 0.496932 0.523969C0.497344 0.470254 0.507585 0.417162 0.527062 0.367763C0.54654 0.318365 0.574867 0.273642 0.610404 0.236181C0.645941 0.198721 0.687984 0.169268 0.734097 0.149526C0.780211 0.129784 0.829483 0.120145 0.879058 0.121167C0.928633 0.12219 0.977529 0.133853 1.02292 0.155483C1.0683 0.177112 1.10928 0.208277 1.14347 0.247176L5.64347 5.25759C5.71159 5.33343 5.74969 5.43507 5.74969 5.54088C5.74969 5.6467 5.71159 5.74833 5.64347 5.82418L1.14347 10.8346C1.10928 10.8735 1.0683 10.9047 1.02292 10.9263C0.977529 10.9479 0.928633 10.9596 0.879058 10.9606C0.829483 10.9616 0.780211 10.952 0.734097 10.9322C0.687984 10.9125 0.645941 10.883 0.610404 10.8456C0.574867 10.8081 0.54654 10.7634 0.527062 10.714C0.507585 10.6646 0.497344 10.6115 0.496932 10.5578C0.49652 10.5041 0.505946 10.4508 0.524663 10.4011C0.54338 10.3513 0.571017 10.3061 0.605975 10.268L4.85197 5.54088Z" fill="black"/>
    </svg>
  </span>

  <span>{{ page_title }}</span>
  {% endif %}
</nav>
{% endunless %}
