<div class="mobile-footer-drawer hide portable-show">
  <div class="mobile-footer-drawer-inn">

    <ul class="horizontal-mob-nav">
      <li>
        <a href="tel:4167004346">
          <span class="svg_icon">
           <img src="{{ 'call.png' | file_url }}">
          </span>
          <p class="link_title">Call Us</p>
        </a>
      </li>

      <li id="open_drawer">
        <span class="svg_icon">
          <img src="{{ 'hamburger.png' | file_url }}">
        </span>
        <p class="link_title">Menu</p>
      </li>

      <li>
        <a href="/collections/sales">
          <span class="svg_icon">
            <img src="{{ 'sales.png' | file_url }}">
          </span>
          <p class="link_title">Sales</p>
        </a>
      </li>

      <li>
        <a href="{{ routes.root_url }}">
          <span class="svg_icon">
            <img src="{{ 'home.png' | file_url }}">
          </span>
          <p class="link_title">Home</p>
        </a>
      </li>

    </ul>
    
  </div>
</div>