<style>
  
</style>


<div class="brand-grid-list-container">
  <div class="breadcrumbs">
    <ol>
    <li>
      <a href="{{ routes.root_url }}" title="Home">Home</a>
    </li>

    {%- comment -%}
      Logic to display breadcrumbs based on the current page template.
    {%- endcomment -%}
    {%- case template.name -%}
      {%- when 'product' -%}
        {%- if collection -%}
          <li>
            <a href="{{ collection.url }}">{{ collection.title }}</a>
          </li>
        {%- endif -%}
        <li aria-current="page">
          {{ product.title }}
        </li>

      {%- when 'collection' -%}
        <li aria-current="page">
          {{ collection.title }}
        </li>

      {%- when 'page' -%}
        <li aria-current="page">
          {{ page.title }}
        </li>

      {%- when 'blog' -%}
        <li aria-current="page">
          {{ blog.title }}
        </li>

      {%- when 'article' -%}
        <li>
          <a href="{{ blog.url }}">{{ blog.title }}</a>
        </li>
        <li aria-current="page">
          {{ article.title }}
        </li>

      {%- when 'cart' -%}
        <li aria-current="page">
          Your Cart
        </li>

    {%- endcase -%}
  </ol>
  </div>
  <div class="brands-grid-heading"></div>
  <div class="brands-grid"></div>
</div>

{% schema %}
  {
        "name": "Brands Grid Section",
    "class": "brands-grid-section",
  "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "main_heading",
        "label": "Main Heading",
        "default": "Browse brand catalogues"
      }
    ],
    "blocks": [
      {
        "type": "one_brand",
        "name": "One Brand",
        "settings": [
          {
            "type": "image_picker",
            "id": "showcase_image",
            "label": "Showcase Image (Main Visual)"
          },
          {
            "type": "image_picker",
            "id": "logo_image",
            "label": "Brand Logo Image"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }, {
            "type": "url",
            "id": "linkToBrand",
            "label": "Link To Brand Page"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Brands Grid Section",
        "category": "Image"
      }
    ]
  }
{% endschema %}