<style>
  .breadcrumbs ol{
    display:flex; 
    gap: 5px;
  }
</style>

{%- liquid
  assign position_counter = 1
-%}

{%- unless template == 'index' or template == 'cart' -%}
  <nav class="breadcrumbs" aria-label="Breadcrumb">
    <ol>
      <li>
        <a href="{{ routes.root_url }}" title="Home">Home</a>
      </li>

      {%- case template.name -%}
        {%- when 'product' -%}
          {%- if collection -%}
            <li>/</li>
            <li>
              <a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a>
            </li>
          {%- endif -%}
                    <li>/</li>
          <li aria-current="page" title="{{ product.title | escape }}">
            {{ product.title }}
          </li>

        {%- when 'collection' -%}
                    <li>/</li>
          <li aria-current="page" title="{{ collection.title | escape }}">
            {{ collection.title }}
          </li>

        {%- when 'page' -%}
                    <li>/</li>
          <li aria-current="page" title="{{ page.title | escape }}">
            {{ page.title }}
          </li>

        {%- when 'blog' -%}
                    <li>/</li>
          <li aria-current="page" title="{{ blog.title | escape }}">
            {{ blog.title }}
          </li>

        {%- when 'article' -%}
                    <li>/</li>
          <li>
            <a href="{{ blog.url }}" title="{{ blog.title | escape }}">{{ blog.title }}</a>
          </li>
                  <li>/</li>
          <li aria-current="page" title="{{ article.title | escape }}">
            {{ article.title }}
          </li>
      {%- endcase -%}
    </ol>
  </nav>

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
      {
        "@type": "ListItem",
        "position": {{ position_counter }},
        "name": "Home",
        "item": "{{ shop.url | append: routes.root_url }}"
      }
      {%- assign position_counter = position_counter | plus: 1 -%}

      {%- case template.name -%}
        {%- when 'product' -%}
          {%- if collection -%}
            ,{
              "@type": "ListItem",
              "position": {{ position_counter }},
              "name": "{{ collection.title | escape }}",
              "item": "{{ collection.url | prepend: shop.url }}"
            }
            {%- assign position_counter = position_counter | plus: 1 -%}
          {%- endif -%}
          ,{
            "@type": "ListItem",
            "position": {{ position_counter }},
            "name": "{{ product.title | escape }}"
          }

        {%- when 'collection' -%}
          ,{
            "@type": "ListItem",
            "position": {{ position_counter }},
            "name": "{{ collection.title | escape }}"
          }

        {%- when 'page' -%}
          ,{
            "@type": "ListItem",
            "position": {{ position_counter }},
            "name": "{{ page.title | escape }}"
          }

        {%- when 'blog' -%}
          ,{
            "@type": "ListItem",
            "position": {{ position_counter }},
            "name": "{{ blog.title | escape }}"
          }

        {%- when 'article' -%}
          ,{
            "@type": "ListItem",
            "position": {{ position_counter }},
            "name": "{{ blog.title | escape }}",
            "item": "{{ blog.url | prepend: shop.url }}"
          }
          {%- assign position_counter = position_counter | plus: 1 -%}
          ,{
            "@type": "ListItem",
            "position": {{ position_counter }},
            "name": "{{ article.title | escape }}"
          }
      {%- endcase -%}
    ]
  }
  </script>
{%- endunless -%}


{% schema %}
 {
        "name": "Breadcrumbs",
    "class": "Breadcrumbs",

    "settings": [

    ],

    "presets": [
      {
        "name": "Breadcrumbs"
      }
    ]
  }
{% endschema %}