<div class="page-width">
  <div class="custom-announce-bar-inn">
    <div class="custom-announce-main-box">
    {% for block in section.blocks %}
      <div class="custom-announcement">
        {% if block.settings.announcement_link != blank %}
          <a href="{{ block.settings.announcement_link }}">
            <p style="color: {{ block.settings.announcement_color }};">{{ block.settings.announcement }}</p>
          </a>
        {% else %}
          <p style="color: {{ block.settings.announcement_color }};">{{ block.settings.announcement }}</p>
        {% endif %}
      </div>
    {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Custom Announcement",
    "class": "section custom-announce-bar",
    "tag": "section",
    "max_blocks": 2,
    "settings": [
      {
        "type": "color",
        "id": "color_background",
        "label": "Background color",
        "default": "#002642"
      }
    ],
    "blocks": [
      {
        "type": "announce",
        "name": "Announce",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "announcement",
            "label": "Announcement"
          },
          {
            "type": "color",
            "id": "announcement_color",
            "label": "Announcement color",
            "default": "#ffffff"
          },
          {
            "type": "url",
            "id": "announcement_link",
            "label": "Announcement Link"
          }
        ]
      }
    ]
  }
{% endschema %}

{% style %}
{% if section.settings.color_background != blank %}
#shopify-section-{{ section.id }}{
  background-color: {{ section.settings.color_background }};
}
{% endif %}

{% if section.blocks.size == 0 %}
#shopify-section-{{ section.id }}{
  display: none;
}
{% endif %}
{% endstyle %}