<style>
  .feature-icons__section-title {
    margin: 0;
  }

  .feature-icons__grid {
    display: grid;
    gap: var(--grid-gap, 25px);
  }

  .feature-icons--1-columns {
    grid-template-columns: 1fr;
  }
  .feature-icons--2-columns {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature-icons--3-columns {
    grid-template-columns: repeat(3, 1fr);
  }
  .feature-icons--4-columns {
    grid-template-columns: repeat(4, 1fr);
  }

  .feature-icons__item {
    display: flex;
    gap: 15px;
    position: relative;
  }

  .feature-icons__item--align-left {
    align-items: center;
    text-align: left;
  }

  .feature-icons__item--align-center {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .feature-icons__icon-wrapper {
    flex-shrink: 0;
    line-height: 0;
  }

  .feature-icons__icon-wrapper svg {
    display: block;
    width: 100%;
    height: 100%;
  }

  .feature-icons__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap:  5px;
  }

  .feature-icons__item-title {
    margin: 0;
    font-weight: 600;
  }

  .feature-icons__item-description {
    margin: 0;
    line-height: 1.6;
  }

  .feature-icons__item-description p {
    margin: 0;
    color: #757575;
    font-size: 0.875em;
  }

  .feature-icons__grid .feature-icons__item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: calc(-1 * var(--grid-gap, 25px) / 2 - 0.5px);
    top: 20%;
    height: 60%;
    width: 1px;
    background-color: #d1d1d1;
  }

  .feature-icons__item--align-center .feature-icons__content {
    gap: 4px;
    align-items: center;
  }

  @media screen and (max-width: 989px) {
    .feature-icons--3-columns,
    .feature-icons--4-columns {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 749px) {
    .feature-icons--2-columns,
    .feature-icons--3-columns,
    .feature-icons--4-columns {
      grid-template-columns: 1fr;
    }
    .feature-icons__grid .feature-icons__item:not(:last-child)::after {
      display: none;
    }
  }
</style>

<div class="page-width pageWidth feature-icons-section color-{{ section.settings.color_scheme }} gradient">
  <div>
    {%- if section.settings.title != blank -%}
      <h2
        class="feature-icons__section-title title {{ section.settings.heading_size }}"
        style="text-align: {{ section.settings.heading_alignment }};"
        title="{{ section.settings.title | escape }}">
        {%- if section.settings.heading_alignment == 'left' -%}
          <span class="visually-hidden" title="{{ section.settings.title | escape }}">{{ section.settings.title | escape }}</span>
        {%- endif -%}
        {{ section.settings.title | escape }}
      </h2>
    {%- endif -%}

    {%- if section.blocks.size > 0 -%}
      <div class="feature-icons__grid feature-icons--{{ section.settings.columns_desktop }}-columns" style="--grid-gap: {{ section.settings.grid_gap }}px;">
        {%- for block in section.blocks -%}
          <div class="feature-icons__item feature-icons__item--align-{{ section.settings.content_alignment }}" {{ block.shopify_attributes }}>
            {%- assign selected_icon = block.settings.icon_preset -%}
            {%- if selected_icon != 'none' and selected_icon != blank -%}
              <div class="feature-icons__icon-wrapper" style="width: {{ block.settings.icon_width }}px; height: {{ block.settings.icon_width }}px;">
                {%- case selected_icon -%}
                  {%- when 'support' -%}
                    <svg viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip_support_{{ block.id }})">
                      <path d="M53.86 12.688H42.868C42.7547 12.688 42.6426 12.6656 42.538 12.6221C42.4334 12.5787 42.3384 12.515 42.2585 12.4347C42.1786 12.3544 42.1153 12.2591 42.0723 12.1543C42.0293 12.0495 42.0075 11.9372 42.008 11.824C42.0107 11.6106 42.0813 11.4213 42.22 11.256L50.06 2.29597C50.136 2.20713 50.2305 2.13601 50.3369 2.08764C50.4434 2.03926 50.5591 2.0148 50.676 2.01597C51.124 2.01597 51.488 2.38397 51.488 2.83197V16.244M35.4 16.24H25.92V14.22C25.921 13.5289 26.1231 12.853 26.5017 12.2748C26.8803 11.6967 27.4189 11.2412 28.052 10.964L33.332 8.65597C34.0626 8.33786 34.6612 7.77758 35.0269 7.06957C35.3926 6.36157 35.503 5.54913 35.3395 4.76922C35.176 3.98931 34.7486 3.28962 34.1293 2.78809C33.5101 2.28656 32.7369 2.01386 31.94 2.01597H29.476C28.7407 2.01678 28.0237 2.24524 27.4235 2.66997C26.8233 3.09469 26.3694 3.69484 26.124 4.38797M30.024 52.26C32.0976 53.5952 34.5657 54.1804 37.0181 53.9185C39.4704 53.6565 41.7592 52.5631 43.504 50.82L45.024 49.3C45.6982 48.6185 46.0763 47.6986 46.0763 46.74C46.0763 45.7814 45.6982 44.8614 45.024 44.18L38.624 37.82C37.9493 37.1482 37.036 36.7711 36.084 36.7711C35.132 36.7711 34.2187 37.1482 33.544 37.82C32.8625 38.4942 31.9426 38.8723 30.984 38.8723C30.0254 38.8723 29.1055 38.4942 28.424 37.82L18.224 27.62C17.5498 26.9385 17.1717 26.0186 17.1717 25.06C17.1717 24.1014 17.5498 23.1814 18.224 22.5C18.8957 21.8253 19.2728 20.912 19.2728 19.96C19.2728 19.0079 18.8957 18.0946 18.224 17.42L12.064 11.02C11.3825 10.3458 10.4626 9.96763 9.504 9.96763C8.54539 9.96763 7.62547 10.3458 6.944 11.02L5.424 12.54C3.64962 14.2601 2.51885 16.5368 2.22039 18.99C1.92192 21.4432 2.47383 23.9246 3.784 26.02C10.7566 36.377 19.6669 45.2874 30.024 52.26Z"
                                        stroke="#002642" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                      </g>
                      <defs><clipPath id="clip_support_{{ block.id }}"><rect width="56" height="56" fill="white"/></clipPath></defs>
                    </svg>
                  {%- when 'price_match' -%}
                    <svg viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M24 39.6667L33.3333 30.3334M24 30.3334H24.021M33.3123 39.6667H33.3333M28.6667 51.3334C33.6174 51.3334 38.3653 49.3667 41.866 45.866C45.3667 42.3653 47.3333 37.6174 47.3333 32.6667C47.3333 18.6667 28.6667 4.66669 28.6667 4.66669C27.7613 10.4697 26.8747 13.5847 24 18.6667C21.2 17.3717 20.5 16.3334 19.3333 13.4167C14.6667 18.6667 10 25.6667 10 32.6667C10 37.6174 11.9667 42.3653 15.4673 45.866C18.968 49.3667 23.716 51.3334 28.6667 51.3334Z" stroke="#002642" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  {%- when 'delivery' -%}
                    <svg viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M52.6933 29.0675L47.4433 16.8175C47.3093 16.5012 47.0852 16.2313 46.799 16.0415C46.5127 15.8517 46.1768 15.7503 45.8333 15.75H40.5833V12.25C40.5833 11.7859 40.3989 11.3408 40.0708 11.0126C39.7426 10.6844 39.2974 10.5 38.8333 10.5H5.58331C5.11918 10.5 4.67406 10.6844 4.34588 11.0126C4.01769 11.3408 3.83331 11.7859 3.83331 12.25V42C3.83331 42.4641 4.01769 42.9092 4.34588 43.2374C4.67406 43.5656 5.11918 43.75 5.58331 43.75H9.32831C9.73131 45.2329 10.6111 46.542 11.8319 47.4753C13.0526 48.4086 14.5466 48.9142 16.0833 48.9142C17.62 48.9142 19.114 48.4086 20.3348 47.4753C21.5556 46.542 22.4353 45.2329 22.8383 43.75H33.8283C34.2313 45.2329 35.1111 46.542 36.3319 47.4753C37.5526 48.4086 39.0466 48.9142 40.5833 48.9142C42.12 48.9142 43.614 48.4086 44.8348 47.4753C46.0556 46.542 46.9353 45.2329 47.3383 43.75H51.0833C51.5474 43.75 51.9926 43.5656 52.3208 43.2374C52.6489 42.9092 52.8333 42.4641 52.8333 42V29.75C52.8329 29.5154 52.7853 29.2833 52.6933 29.0675ZM40.5833 19.25H44.6783L48.4233 28H40.5833V19.25ZM16.0833 45.5C15.3911 45.5 14.7144 45.2947 14.1388 44.9101C13.5632 44.5256 13.1146 43.9789 12.8497 43.3394C12.5848 42.6999 12.5155 41.9961 12.6506 41.3172C12.7856 40.6383 13.119 40.0146 13.6084 39.5251C14.0979 39.0356 14.7216 38.7023 15.4005 38.5673C16.0794 38.4322 16.7832 38.5015 17.4227 38.7664C18.0622 39.0313 18.6089 39.4799 18.9935 40.0555C19.378 40.6311 19.5833 41.3078 19.5833 42C19.5833 42.9283 19.2146 43.8185 18.5582 44.4749C17.9018 45.1312 17.0116 45.5 16.0833 45.5ZM33.8283 40.25H22.8383C22.4353 38.7671 21.5556 37.458 20.3348 36.5247C19.114 35.5914 17.62 35.0858 16.0833 35.0858C14.5466 35.0858 13.0526 35.5914 11.8319 36.5247C10.6111 37.458 9.73131 38.7671 9.32831 40.25H7.33331V14H37.0833V35.98C36.2864 36.4425 35.5887 37.0578 35.0301 37.7905C34.4716 38.5233 34.0632 39.3591 33.8283 40.25ZM40.5833 45.5C39.8911 45.5 39.2144 45.2947 38.6388 44.9101C38.0632 44.5256 37.6146 43.9789 37.3497 43.3394C37.0848 42.6999 37.0155 41.9961 37.1506 41.3172C37.2856 40.6383 37.619 40.0146 38.1084 39.5251C38.5979 39.0356 39.2216 38.7023 39.9005 38.5673C40.5794 38.4322 41.2832 38.5015 41.9227 38.7664C42.5622 39.0313 43.1089 39.4799 43.4935 40.0555C43.878 40.6311 44.0833 41.3078 44.0833 42C44.0833 42.9283 43.7146 43.8185 43.0582 44.4749C42.4018 45.1312 41.5116 45.5 40.5833 45.5ZM49.3333 40.25H47.3383C46.9513 38.7512 46.0784 37.4229 44.8562 36.473C43.6339 35.523 42.1313 35.005 40.5833 35V31.5H49.3333V40.25Z" fill="#002642"/>
                    </svg>
                  {%- when 'pickup' -%}
                    <svg viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M28 28L46.837 17.2083M28 28V49.5833M28 28L18.5803 22.6053M46.837 17.2083C46.1833 16.0862 45.2458 15.1559 44.1186 14.511L37.9166 10.9573M46.837 17.2083C47.4786 18.3097 47.8333 19.5767 47.8333 20.895V35.105C47.8326 36.4023 47.4885 37.6762 46.8361 38.7975C46.1837 39.9188 45.2461 40.8474 44.1186 41.489L31.7146 48.5963C30.5837 49.2438 29.3031 49.5841 28 49.5833M28 49.5833C26.6968 49.5841 25.4162 49.2438 24.2853 48.5963L11.8813 41.489C9.58296 40.173 8.16663 37.7417 8.16663 35.105V20.895C8.16629 19.5999 8.50927 18.3278 9.16063 17.2083M18.5803 22.6053L9.16063 17.2083M18.5803 22.6053L37.9166 10.9573M37.9166 10.9573L31.7146 7.40367C30.584 6.75524 29.3033 6.41406 28 6.41406C26.6966 6.41406 25.4159 6.75524 24.2853 7.40367L11.8813 14.511C10.7533 15.1556 9.81489 16.0859 9.16063 17.2083" stroke="#002642" stroke-width="3" stroke-linejoin="round"/>
                    </svg>
                {%- endcase -%}
              </div>
            {%- endif -%}
            <div class="feature-icons__content">
              {%- if block.settings.title != blank -%}
                <h5 class="feature-icons__item-title" title="{{ block.settings.title | escape }}">{{ block.settings.title | escape }}</h5>
              {%- endif -%}
              {%- if block.settings.description != blank -%}
                <div class="feature-icons__item-description rte">
                  <p class="bodyText" title="{{ block.settings.description | escape }}">{{ block.settings.description }}</p>
                </div>
              {%- endif -%}
            </div>
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Feature Icons",
  "tag": "section",
  "class": "shopify-section--feature-icons",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section title",
      "default": "Our Features"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Section heading size",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Section heading alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Columns on desktop",
      "default": 4
    },
    {
      "type": "range",
      "id": "grid_gap",
      "min": 0,
      "max": 60,
      "step": 4,
      "unit": "px",
      "label": "Gap between items",
      "default": 32
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "Content alignment in item",
      "options": [
        { "value": "left", "label": "Left (icon on left)" },
        { "value": "center", "label": "Center (icon on top)" }
      ],
      "default": "left"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    }
  ],
  "blocks": [
    {
      "type": "feature_item",
      "name": "Feature item",
      "limit": 8,
      "settings": [
        {
          "type": "select",
          "id": "icon_preset",
          "label": "Icon",
          "options": [
            { "value": "none", "label": "No Icon" },
            { "value": "support", "label": "Support (Phone)" },
            { "value": "price_match", "label": "Price Match (Percent Tag)" },
            { "value": "delivery", "label": "Delivery (Truck)" },
            { "value": "pickup", "label": "Pickup (Box)" }
          ],
          "default": "support"
        },
        {
          "type": "range",
          "id": "icon_width",
          "min": 20,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Icon size",
          "default": 48
        },
        {
          "type": "text",
          "id": "title",
          "label": "Item title",
          "default": "Feature Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Item description",
          "default": "<p>Brief description of your benefit or feature.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Feature Icons",
      "blocks": [
        {
          "type": "feature_item",
          "settings": {
            "icon_preset": "support"
          }
        },
        {
          "type": "feature_item",
          "settings": {
            "icon_preset": "price_match"
          }
        },
        {
          "type": "feature_item",
          "settings": {
            "icon_preset": "delivery"
          }
        },
        {
          "type": "feature_item",
          "settings": {
            "icon_preset": "pickup"
          }
        }
      ]
    }
  ]
}
{% endschema %}