{%- liquid
  assign image = section.settings.image
  assign help_text = section.settings.help_text
  assign title_setting = section.settings.title
  assign button_text_content = section.settings.button_text
  assign button_link = section.settings.button_link

  assign image_alt = section.settings.image_alt_text
  if image_alt == blank and image != blank
    assign image_alt = image.alt | escape
  elsif image_alt == blank
    assign image_alt = "Promotional image"
  endif

  assign title_default = "Request a free consultation and price estimate!" | t
  assign help_text_default = "Need help?" | t
  assign button_text_default = "Contact Us" | t

  assign banner_title_content = title_setting | default: title_default
  assign actual_button_text = button_text_content | default: button_text_default

  assign image_position_desktop = section.settings.image_position_desktop
-%}

<style>
  .consultation-banner-{{ section.id }} {
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
    border-radius: {{ section.settings.border_radius }}px;
  }

  .consultation-banner-{{ section.id }} .consultation-banner__content {
    display: flex;
    align-items: stretch;
  {% if image_position_desktop == 'left' %}
    flex-direction: row-reverse;
  {% else %}
    flex-direction: row;
  {% endif %}
  }

  .consultation-banner-{{ section.id }} .consultation-banner__text-column {
    flex: 1 1 {{ section.settings.text_column_width }}%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333333;
    text-align: {{ section.settings.text_align_desktop }};
    padding-right: {% if image_position_desktop == 'left' %}0{% else %}25px{% endif %};
    padding-left: {% if image_position_desktop == 'left' %}25px{% else %}0{% endif %};
  }

  .consultation-banner-{{ section.id }} .consultation-banner__help-text {
    font-size: 16px;
    color: #555555;
    margin: 0 0 0px;
    font-family: 'Arial', sans-serif;
  }

  .consultation-banner-{{ section.id }} .consultation-banner__title {
    font-family: 'Black Mango', sans-serif;
    font-weight: 600;
    font-size: {{ section.settings.title_size }}px;
    line-height: 1.1;
    letter-spacing: 0;
    color: #000000;
    margin-top: 0;
    margin-bottom: 25px;
  {% if image_position_desktop == 'left' %}
    margin-left: 0;
    margin-right: 0;
  {% else %}
    margin-right: 25px;
    margin-left: 0;
  {% endif %}
  }

  .consultation-banner-{{ section.id }} .consultation-banner__button {
    font-weight: bold;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: normal;
    gap: 0.5rem;
    text-decoration: none;
  }
  .consultation-banner-{{ section.id }} .consultation-banner__button:hover .arrow-icon {
    fill: #002642;
  }

  .consultation-banner-{{ section.id }} .consultation-banner__text-column[style*="text-align: left"] .consultation-banner__button {
    align-self: flex-start;
  }
  .consultation-banner-{{ section.id }} .consultation-banner__text-column[style*="text-align: center"] .consultation-banner__button {
    align-self: center;
  }
  .consultation-banner-{{ section.id }} .consultation-banner__text-column[style*="text-align: right"] .consultation-banner__button {
    align-self: flex-end;
  }

  .consultation-banner-{{ section.id }} .consultation-banner__image-column {
    flex: 1 1 {{ 100 | minus: section.settings.text_column_width }}%;
    background-color: {{ section.settings.image_bg_color }};
    overflow: hidden;
    position: relative;
    min-height: 200px;
  }

  .consultation-banner-{{ section.id }} .consultation-banner__image-column img {
    width: 100%;
    height: 100%;
    object-fit: {{ section.settings.image_fit }};
    display: block;
  }

  .consultation-banner-{{ section.id }} .consultation-banner__placeholder-image svg {
    width: 80%;
    height: 80%;
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @media screen and (min-width: 769px) {
    .consultation-banner-{{ section.id }} {
    }
    .consultation-banner-{{ section.id }} .consultation-banner__text-column {
      padding: 0;
    {% if image_position_desktop == 'left' %}
      padding-left: 25px;
    {% else %}
      padding-right: 25px;
    {% endif %}
    }
  }

  @media (max-width: 768px) {
    .consultation-banner-{{ section.id }} .consultation-banner__content {
      flex-direction: column;
    }

    .consultation-banner-{{ section.id }} .consultation-banner__text-column {
      flex-basis: auto;
      padding: 30px;
      text-align: {{ section.settings.text_align_mobile }};
      order: {% if section.settings.image_position_mobile == 'top' %}2{% else %}1{% endif %};
      padding-left: 30px;
      padding-right: 30px;
    }
    .consultation-banner-{{ section.id }} .consultation-banner__title {
      margin-right: 0;
      margin-left: 0;
    }

    .consultation-banner-{{ section.id }} .consultation-banner__image-column {
      flex-basis: auto;
      min-height: {{ section.settings.image_min_height_mobile }}px;
      order: {% if section.settings.image_position_mobile == 'top' %}1{% else %}2{% endif %};
    }
  }

  @media (max-width: 480px) {
    .consultation-banner-{{ section.id }} .consultation-banner__title {
      font-size: {{ section.settings.title_size | times: 0.8 | round }}px;
    }
    .consultation-banner-{{ section.id }} .consultation-banner__text-column {
      padding: 0;
      padding-bottom: 20px;
    }
  }
</style>

<section class="consultation-banner consultation-banner-{{ section.id }}" aria-label="{{ banner_title_content | escape }} page-width">
  <div class="consultation-banner__content pageWidth">
    <div class="consultation-banner__text-column" style="text-align: {{ section.settings.text_align_desktop }};">
      {%- if help_text != blank or section.settings.help_text != "" -%}
        <p class="consultation-banner__help-text">{{ help_text | default: help_text_default }}</p>
      {%- endif -%}

      {%- if title_setting != blank or section.settings.title != "" -%}
        <h2 class="consultation-banner__title">{{ banner_title_content }}</h2>
      {%- endif -%}

      {%- if button_text_content != blank or section.settings.button_text != "" -%}
        {%- if button_link != blank -%}
          <a
                  href="{{ button_link }}"
                  class="consultation-banner__button blueButton customButton"
                  title="{{ actual_button_text | escape }}"
          >
            {{ actual_button_text }}
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-icon">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.74408 5.24408C8.06951 4.91864 8.59715 4.91864 8.92259 5.24408L13.0893 9.41074C13.4147 9.73618 13.4147 10.2638 13.0893 10.5893L8.92259 14.7559C8.59715 15.0814 8.06951 15.0814 7.74408 14.7559C7.41864 14.4305 7.41864 13.9028 7.74408 13.5774L11.3215 10L7.74408 6.42259C7.41864 6.09715 7.41864 5.56951 7.74408 5.24408Z" fill="currentColor"/>
            </svg>
          </a>
        {%- else -%}
          <span
                  class="consultation-banner__button blueButton customButton"
                  style="cursor:default;"
                  title="{{ actual_button_text | escape }}"
          >
            {{ actual_button_text }}
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-icon">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.74408 5.24408C8.06951 4.91864 8.59715 4.91864 8.92259 5.24408L13.0893 9.41074C13.4147 9.73618 13.4147 10.2638 13.0893 10.5893L8.92259 14.7559C8.59715 15.0814 8.06951 15.0814 7.74408 14.7559C7.41864 14.4305 7.41864 13.9028 7.74408 13.5774L11.3215 10L7.74408 6.42259C7.41864 6.09715 7.41864 5.56951 7.74408 5.24408Z" fill="currentColor"/>
            </svg>
          </span>
        {%- endif -%}
      {%- endif -%}
    </div>
    <div class="consultation-banner__image-column">
      {%- if image != blank -%}
        <img
                src="{{ image | image_url: width: image.width }}"
                srcset="{%- if image.width >= 400 -%}{{ image | image_url: width: 400 }} 400w,{%- endif -%}
                  {%- if image.width >= 600 -%}{{ image | image_url: width: 600 }} 600w,{%- endif -%}
                  {%- if image.width >= 800 -%}{{ image | image_url: width: 800 }} 800w,{%- endif -%}
                  {%- if image.width >= 1000 -%}{{ image | image_url: width: 1000 }} 1000w,{%- endif -%}
                  {%- if image.width >= 1200 -%}{{ image | image_url: width: 1200 }} 1200w,{%- endif -%}
                  {{ image | image_url: width: image.width }} {{ image.width }}w"
                sizes="(max-width: 768px) 100vw, {{ 100 | minus: section.settings.text_column_width }}vw"
                alt="{{ image_alt }}"
                title="{{ banner_title_content | escape }}"
                loading="lazy"
                width="{{ image.width }}"
                height="{{ image.height }}">
      {%- else -%}
        {{ 'image' | placeholder_svg_tag: 'consultation-banner__placeholder-image' }}
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Consultation Banner",
    "tag": "section",
    "class": "shopify-section-consultation-banner",
    "settings": [
      {
        "type": "header",
        "content": "Content Settings"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "image_alt_text",
        "label": "Image alt text",
        "info": "Defaults to image's alt text if available."
      },
      {
        "type": "text",
        "id": "help_text",
        "label": "Help Text (Optional)",
        "default": "Need help?"
      }, {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Request a free consultation and price estimate!"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "CONTACT US"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }, {
        "type": "checkbox",
        "id": "show_button_arrow",
        "label": "Show arrow on button",
        "default": true
      }, {
        "type": "header",
        "content": "Layout Settings"
      }, {
        "type": "range",
        "id": "border_radius",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border radius (section)",
        "default": 8
      }, {
        "type": "range",
        "id": "text_column_width",
        "min": 30,
        "max": 70,
        "step": 5,
        "unit": "%",
        "label": "Text column width (Desktop)",
        "default": 55
      }, {
        "type": "select",
        "id": "image_position_desktop",
        "label": "Image position (Desktop)",
        "options": [
          { "value": "right", "label": "Image on Right, Text on Left" },
          { "value": "left", "label": "Image on Left, Text on Right" }
        ],
        "default": "right",
        "info": "Determines if the image is to the left or right of the text on desktop."
      }, {
        "type": "select",
        "id": "text_align_desktop",
        "label": "Text alignment (Desktop)",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "center", "label": "Center" },
          { "value": "right", "label": "Right" }
        ],
        "default": "left"
      }, {
        "type": "select",
        "id": "text_align_mobile",
        "label": "Text alignment (Mobile)",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "center", "label": "Center" },
          { "value": "right", "label": "Right" }
        ],
        "default": "center"
      }, {
        "type": "header",
        "content": "Image Settings"
      }, {
        "type": "color",
        "id": "image_bg_color",
        "label": "Image column background",
        "default": "#f0f0f0"
      }, {
        "type": "select",
        "id": "image_fit",
        "label": "Image fit",
        "options": [
          { "value": "cover", "label": "Cover (fill & crop)" },
          { "value": "contain", "label": "Contain (fit without crop)" }
        ],
        "default": "cover"
      }, {
        "type": "header",
        "content": "Mobile Layout"
      }, {
        "type": "select",
        "id": "image_position_mobile",
        "label": "Image position on mobile",
        "options": [
          { "value": "top", "label": "Image on Top" },
          { "value": "bottom", "label": "Image on Bottom (Text on Top)" }
        ],
        "default": "top"
      }, {
        "type": "range",
        "id": "image_min_height_mobile",
        "min": 150,
        "max": 500,
        "step": 10,
        "unit": "px",
        "label": "Image min height (Mobile)",
        "default": 250
      }, {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "color",
        "id": "button_bg_color",
        "label": "Button background color",
        "default": "#0a2b4c"
      }, {
        "type": "color",
        "id": "button_text_color",
        "label": "Button text color",
        "default": "#ffffff"
      }
    ],
    "presets": [
      {
        "name": "Consultation Banner",
        "category": "Image with text"
      }
    ]
  }
{% endschema %}